<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>

<p>got to <%= link_to 'secure', secure_index_url%> section</p>
<p>got to <%= link_to 'register a new user', new_user_registration_url%> section</p>